@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap");

:root {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("./assets/5123442.jpg");
}

footer {
  margin-top: auto;
  background-color: #621704;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
